<header class="app-header">
  <nav>
    <ul class="flex-row app-header-menu-list">
      <li><a [routerLink]="['home']" mat-button>Home</a></li>
      <li *ngIf="!users.isSignedIn()">
        <a [routerLink]="['register']" mat-button>Register</a>
      </li>
      <li *ngIf="!users.isSignedIn()">
        <a [routerLink]="['login']" mat-button
          ><i class="fas fa-sign-in-alt"></i>Log in</a
        >
      </li>
      <li *ngIf="users.isSignedIn()">
        <a [routerLink]="['profile']" mat-button
          ><i class="fas fa-user-circle"></i>My Profile</a
        >
      </li>
      <li *ngIf="users.isSignedIn()">
        <a (click)="logout()" mat-button
          ><i id="logout-icon" class="fas fa-sign-in-alt"></i>Log out</a
        >
      </li>
    </ul>
  </nav>
</header>
